/* Fonts imported from google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Everything here applies to the entire site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: grey 1px solid; /* Debugging */
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #060606;
    font-family: "Inter", sans-serif; /* Default font */
}
/* Added the max-width and overflow-x properties to make sure the
 * page size and appearance of it is the same regardless of what
 * monitor you're using to view it. 
 * Note: The website is NOT mobile friendly, it's only designed to
 * fit computer screens. */

/* ========================= Navbar ========================= */

.site-name {
    font-family: "Kodchasan", sans-serif !important;
    font-weight: 500;
    text-decoration-line: underline;
    float: left;
    color: white;
    font-size: 20px;
    margin-right: 78px;
}

nav {
    margin: 45px 65px;
    vertical-align: bottom;
}

nav li {
    float: left;
    list-style-type: none;
    margin-right: 105px;
}

nav a {
    text-decoration: none;
    color: white;
    opacity: 80%;
    font-size: 16px;
    transition: opacity 0.3s ease-in-out;
}

nav a:hover {
    opacity: 100%;
}

.games-dropdown {
    position: relative;
    float: left;
    color: white;
    font-size: 16px;
}

.games-dropdown-title {
    cursor: pointer;
}

.games-dropdown-content {
    border-top: #060606 8px solid;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1a1a1d;
    z-index: 4;
}
.games-dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.games-dropdown-content ul li {
    padding: 10px 12px;
}

.games-dropdown-content ul li:hover {
    width: 100%;
    background-color: #4d4d4d;
}

.games-dropdown-content ul li a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.games-dropdown:hover .games-dropdown-content {
    display: block;
}

.settings-button {
    position: relative;
    width: 38px;
    height: 38px;
    background-color: #1a1a1d;
    margin-top: 6px;
    margin-left: auto;
    margin-right: 65px;
    border-radius: 10px;
}

.signup-login-button {
    width: 120px;
    height: 38px;
    background-color: #1a1a1d;
    margin-top: 6px;
    margin-right: 14px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 38px; /* Setting the line height to the height of the button to centre text */
    transition: background-color 0.3s ease-in;
}

.signup-login-button:hover {
    background-color: #4d4d4d;
}

/* Makes sure that everything in the navbar is aligned at the bottom */
.navbar-wrapper {
    display: flex;
    align-items: flex-end;
}

.navbar-container-wrapper {
    position: relative; /* -------------------------------------- Added for dropdown*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-rightside-wrapper {
    display: flex;
    align-items: center;
    margin-right: 65px;
}

.navbar-rightside-wrapper a {
    text-decoration: none;
}

/* Icons for items in the navbar */
/* All icons are from iconify */

.ic--round-home {
    margin-right: 23px;
    float: left;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1'/%3E%3C/svg%3E");
}

.ic--round-leaderboard {
    margin-right: 23px;
    float: left;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M6.5 21H3c-.55 0-1-.45-1-1V10c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1m7.25-18h-3.5c-.55 0-1 .45-1 1v16c0 .55.45 1 1 1h3.5c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1M21 11h-3.5c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1H21c.55 0 1-.45 1-1v-8c0-.55-.45-1-1-1'/%3E%3C/svg%3E");
}

.mingcute--game-2-fill {
    margin-right: 23px;
    float: left;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='white' d='M17 4c1.106 0 1.955.843 2.584 1.75l.213.321l.195.32c.062.104.121.208.178.308c.787 1.407 1.472 3.244 1.925 5.059c.45 1.801.699 3.682.54 5.161C22.475 18.404 21.71 20 20 20c-1.534 0-2.743-.82-3.725-1.621l-1.11-.931C14.242 16.692 13.232 16 12 16s-2.243.692-3.164 1.448l-1.11.93C6.742 19.18 5.533 20 4 20c-1.711 0-2.476-1.596-2.635-3.081c-.158-1.48.09-3.36.54-5.161c.453-1.815 1.138-3.652 1.925-5.059l.178-.309l.195-.319l.213-.321C5.045 4.843 5.894 4 7 4c.51 0 1.017.124 1.515.27l.593.182c.098.03.195.059.292.086c.865.248 1.75.462 2.6.462c.85 0 1.735-.214 2.6-.462l.885-.267C15.983 4.124 16.49 4 17 4M8.5 8a2.5 2.5 0 1 0 0 5a2.5 2.5 0 0 0 0-5m7 0a1 1 0 0 0-1 1v.5H14a1 1 0 1 0 0 2h.5v.5a1 1 0 1 0 2 0v-.5h.5a1 1 0 1 0 0-2h-.5V9a1 1 0 0 0-1-1m-7 2a.5.5 0 1 1 0 1a.5.5 0 0 1 0-1'/%3E%3C/g%3E%3C/svg%3E");
}

.games-dropdown-title .bxs--down-arrow {
    position: absolute;
    top: 50%;
    left: 107px;
    transform: translateY(-40%);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569z'/%3E%3C/svg%3E");
}

.ic--round-settings {
    position: relative;
    z-index: 1;
    transform: translateY(-50%);
    top: 15px;
    right: 96px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M19.5 12c0-.23-.01-.45-.03-.68l1.86-1.41c.4-.3.51-.86.26-1.3l-1.87-3.23a.987.987 0 0 0-1.25-.42l-2.15.91c-.37-.26-.76-.49-1.17-.68l-.29-2.31c-.06-.5-.49-.88-.99-.88h-3.73c-.51 0-.94.38-1 .88l-.29 2.31c-.41.19-.8.42-1.17.68l-2.15-.91c-.46-.2-1-.02-1.25.42L2.41 8.62c-.25.44-.14.99.26 1.3l1.86 1.41a7.343 7.343 0 0 0 0 1.35l-1.86 1.41c-.4.3-.51.86-.26 1.3l1.87 3.23c.25.44.79.62 1.25.42l2.15-.91c.37.26.76.49 1.17.68l.29 2.31c.06.5.49.88.99.88h3.73c.5 0 .93-.38.99-.88l.29-2.31c.41-.19.8-.42 1.17-.68l2.15.91c.46.2 1 .02 1.25-.42l1.87-3.23c.25-.44.14-.99-.26-1.3l-1.86-1.41c.03-.23.04-.45.04-.68m-7.46 3.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5s3.5 1.57 3.5 3.5s-1.57 3.5-3.5 3.5'/%3E%3C/svg%3E");
}

/* ====================== Content & Text Settings ====================== */

#content {
    margin: 0 65px;
}

h1 {
    color: white;
}

p {
    margin-top: 1.5em; /* Should be between 1.5 - 2em */
    color: white;
}

/* ============================= Home CSS ============================= */

.table-container {
    display: flex;
    margin-top: 2em;
    width: 633px;
}

.table-rectangle {
    flex: 1;
    height: 70px;
    background-color: rgba(26, 26, 29, 0.48);
    color: whitesmoke;
    line-height: 70px;
    text-align: left;
    padding-left: 20px;
}

.table-rectangle-right {
    width: 308px;
    height: 70px;
    background-color: #1a1a1d;
    color: whitesmoke;
    text-align: left;
    padding-top: 15.5px;
    padding-left: 19px;
    padding-right: 21px;
}

.table-container-bottom {
    display: flex;
    margin-top: 2em;
    margin-bottom: 4em;
    width: 633px;
}

/* Yes, this is dodgy. Politely ignore it for now. */
.home-wrapper {
    transform: translateX(30%);
}

/* =========================== Sign Up & Login CSS =========================== */

.signup-login-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: white;
    width: 715px;
    border-radius: 10px;
    padding: 49px 53px 80px; /* top, right & left, bottom*/
}

.form-title {
    color: black;
}

.form-description {
    margin-top: 17px;
    color: black;
    font-size: 16px;
}

.input-container {
    position: relative;
    margin-top: 24px;
}

.input {
    width: 609px;
    height: 54px;
    border: solid 1px #949494;
    padding: 0 56px;
    z-index: 1;
    font-size: 20px;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.input:hover, .input:focus {
    border-color: black;
}

.input-container ::placeholder {
    color: #949494;
}

.signup-button {
    display: block;
    color: white;
    font-size: 20px;
    width: 609px;
    height: 54px;
    background-color: #0084ff;
    border: none;
    border-radius: 10px;
    margin-top: 24px;
    transition: background-color 0.3s ease-out;
}

.signup-button:hover {
    background-color: #1851cc;
    cursor: pointer;
}

.divider {
    width: 612px;
    height: 1px;
    background-color: #aeaeae;
    margin-top: 22px;
}

.prompt {
    margin-top: 24px;
    color: black;
    font-size: 16px;
}

.prompt a {
    color: #0084ff;
    text-decoration: none;
}

.prompt a:hover {
    color: #1851cc;
}

/* Icons */

.bx--user {
    position: absolute;
    left: 20px;
    top: 16px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M12 2a5 5 0 1 0 5 5a5 5 0 0 0-5-5m0 8a3 3 0 1 1 3-3a3 3 0 0 1-3 3m9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z'/%3E%3C/svg%3E");
}

.eva--email-outline {
    position: absolute;
    left: 20px;
    top: 16px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M19 4H5a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3m-.67 2L12 10.75L5.67 6ZM19 18H5a1 1 0 0 1-1-1V7.25l7.4 5.55a1 1 0 0 0 .6.2a1 1 0 0 0 .6-.2L20 7.25V17a1 1 0 0 1-1 1'/%3E%3C/svg%3E");
}

  .mdi--password-outline {
    position: absolute;
    left: 20px;
    top: 16px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M12 17a2 2 0 0 1-2-2c0-1.11.89-2 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2m6 3V10H6v10zm0-12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V10c0-1.11.89-2 2-2h1V6a5 5 0 0 1 5-5a5 5 0 0 1 5 5v2zm-6-5a3 3 0 0 0-3 3v2h6V6a3 3 0 0 0-3-3'/%3E%3C/svg%3E");
}

/* =========================== Game CSS =========================== */

#game-canvas {
    background-color: #000;
    display: block;
    margin: auto;
}

/* ================================================================ */
/* ========================= Profile CSS ========================== */
/* ================================================================ */


/* Profile divs for display name and username */

.profile-container {
    grid-area: profile-container;
    position: relative;
    max-width: 889px;
    min-width: 450px;
}

.profile-rectangle {
    width: 100%;
    height: 92px;
    margin: 0 0 12px;
    padding: 19px 18px 0 151px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #d9d9d9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    z-index: 2;
}

.profile-rectangle-bottom {
    width: 100%;
    height: 92px;
    margin: 55px 15px 15px 0;
    padding: 0 0 20px;
    border-radius: 10px;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px rgba(255, 255, 255, 0.05);
    background-color: #414141;
    margin: -46px 15px 15px 0; /* Adjusted margin to overlap */
    z-index: 1;
}

.profile-picture {
    width: 105px;
    height: 105px;
    margin: 23px 26px 0px 20px;
    background-color: #acacac;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    z-index: 3;
}

.profile-display-name {
    font-size: 36px;
    font-weight: 600;
    color: #292929;
    top: 45px;
    left: 170px;
    position: absolute;
    z-index: 3;
    letter-spacing: -2px;
}

.profile-username {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.85);
    top: 100px;
    left: 172px;
    position: absolute;
    z-index: 3;
}

#profile-status {
    font-size: 20px;
    top: 100px;
    left: 238px;
    color: rgba(49, 255, 156, 0.85);
    position: absolute;
    z-index: 3;
}

.ic--round-settings {
    top: 27%;
    left: 93%;
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23060606' d='M19.5 12c0-.23-.01-.45-.03-.68l1.86-1.41c.4-.3.51-.86.26-1.3l-1.87-3.23a.987.987 0 0 0-1.25-.42l-2.15.91c-.37-.26-.76-.49-1.17-.68l-.29-2.31c-.06-.5-.49-.88-.99-.88h-3.73c-.51 0-.94.38-1 .88l-.29 2.31c-.41.19-.8.42-1.17.68l-2.15-.91c-.46-.2-1-.02-1.25.42L2.41 8.62c-.25.44-.14.99.26 1.3l1.86 1.41a7.343 7.343 0 0 0 0 1.35l-1.86 1.41c-.4.3-.51.86-.26 1.3l1.87 3.23c.25.44.79.62 1.25.42l2.15-.91c.37.26.76.49 1.17.68l.29 2.31c.06.5.49.88.99.88h3.73c.5 0 .93-.38.99-.88l.29-2.31c.41-.19.8-.42 1.17-.68l2.15.91c.46.2 1 .02 1.25-.42l1.87-3.23c.25-.44.14-.99-.26-1.3l-1.86-1.41c.03-.23.04-.45.04-.68m-7.46 3.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5s3.5 1.57 3.5 3.5s-1.57 3.5-3.5 3.5'/%3E%3C/svg%3E");
    transition: background-image 0.1s ease-in;
}

  .ic--round-settings:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%236b6b6b' d='M19.5 12c0-.23-.01-.45-.03-.68l1.86-1.41c.4-.3.51-.86.26-1.3l-1.87-3.23a.987.987 0 0 0-1.25-.42l-2.15.91c-.37-.26-.76-.49-1.17-.68l-.29-2.31c-.06-.5-.49-.88-.99-.88h-3.73c-.51 0-.94.38-1 .88l-.29 2.31c-.41.19-.8.42-1.17.68l-2.15-.91c-.46-.2-1-.02-1.25.42L2.41 8.62c-.25.44-.14.99.26 1.3l1.86 1.41a7.343 7.343 0 0 0 0 1.35l-1.86 1.41c-.4.3-.51.86-.26 1.3l1.87 3.23c.25.44.79.62 1.25.42l2.15-.91c.37.26.76.49 1.17.68l.29 2.31c.06.5.49.88.99.88h3.73c.5 0 .93-.38.99-.88l.29-2.31c.41-.19.8-.42 1.17-.68l2.15.91c.46.2 1 .02 1.25-.42l1.87-3.23c.25-.44.14-.99-.26-1.3l-1.86-1.41c.03-.23.04-.45.04-.68m-7.46 3.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5s3.5 1.57 3.5 3.5s-1.57 3.5-3.5 3.5'/%3E%3C/svg%3E");
}


  /* Match history div */

.match-history-container {
    grid-area: match-history-container;
    position: relative;
    max-width: 889px;
    min-width: 450px;
}

.mh-rectangle {
    width: 100%;
    height: 58px;
    margin: 0 0 12px;
    padding: 19px 18px 0 151px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #d9d9d9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    z-index: 2;
}

.mh-rectangle-bottom {
    width: 100%;
    height: 340px; /* Or 300px? */
    margin: 55px 15px 15px 0;
    padding: 0 0 20px;
    border-radius: 10px;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px rgba(255, 255, 255, 0.05);
    background-color: #414141;
    margin: -46px 15px 15px 0;
    z-index: 1;
}

/* If I had more time I would've done this with some js script
 * to handle overflow. */
/* .mh-extend {
    width: 100%;
    height: 46px;
    z-index: 3;
    position: absolute;
    bottom: 19px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: none;
    transition: background-color 0.2s ease-in;
    border-top: rgb(90, 90, 90) 1px solid;
}

.mh-extend:hover {
    background-color: rgba(217, 217, 217, 0.2);
    cursor: pointer;
} 

.solar--double-alt-arrow-down-linear {
    z-index: 3;
    position: absolute;
    margin-left: 430px;
    bottom: 0;
    width: 2.5em;
    height: 2.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'%3E%3Cpath d='m19 11l-7 6l-7-6'/%3E%3Cpath d='m19 7l-7 6l-7-6'/%3E%3C/g%3E%3C/svg%3E");
}
*/

.hd-txt {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    color: white;
    top: 22%;
    position: absolute;
    z-index: 3;
}

.hd-date {
    left: 5%;
}

.hd-match-type {
    left: 27%;
}

.hd-opponent {
    left: 50%;
}

.hd-winner {
    left: 73%;
}

#data-mh-tb-date {
    left: 5%;
    text-align: left;
    font-size: 20px;
    color: white;
    position: absolute;
    z-index: 3;
}

#data-mh-tb-match-type {
    left: 27%;
    text-align: left;
    font-size: 20px;
    color: white;
    position: absolute;
    z-index: 3;
}

#data-mh-tb-opponent {
    left: 50%;
    text-align: left;
    font-size: 20px;
    color: white;
    position: absolute;
    z-index: 3;
    white-space: pre-wrap;
    max-width: 200px;
}

#data-mh-tb-winner {
    left: 73%;
    text-align: left;
    font-size: 20px;
    color: white;
    position: absolute;
    z-index: 3;
}

.data-mh-tb-container {
    position: relative;
    left: 0;
    width: 100%;
}

.scrollable-mh-data {
    margin-top: 100px;
    height: 235px;
    overflow: scroll;
}

/* Statistics Container */

.stats-container {
    grid-area: stats-container;
    position: relative;
    max-width: 889px;
    min-width: 450px;
}

.stats-rectangle {
    width: 100%;
    height: 58px;
    margin: 0 0 12px;
    padding: 19px 18px 0 151px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #d9d9d9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    z-index: 2;
}

.stats-rectangle-bottom {
    width: 100%;
    height: 246px;
    margin: 55px 15px 15px 0;
    padding: 0 0 20px;
    border-radius: 10px;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px rgba(255, 255, 255, 0.05);
    background-color: #414141;
    margin: -46px 15px 15px 0;
    z-index: 1;
}

.stats {
    margin-top: 25px;
}

/* Stats data containers */

#data-stats-tb-date {
    left: 5%;
    text-align: left;
    font-size: 20px;
    color: white;
    position: absolute;
    z-index: 3;
}

#data-stats-tb-match-type {
    left: 27%;
    text-align: left;
    font-size: 20px;
    color: white;
    position: absolute;
    z-index: 3;
}

#data-stats-tb-opponent {
    left: 50%;
    text-align: left;
    font-size: 20px;
    color: white;
    position: absolute;
    z-index: 3;
    white-space: pre-wrap;
    max-width: 200px;
}

#data-stats-tb-winner {
    left: 73%;
    text-align: left;
    font-size: 20px;
    color: white;
    position: absolute;
    z-index: 3;
}

.data-stats-tb-container {
    position: absolute;
    left: 0;
    width: 100%;
}

/* Friends list containers */

.friends-container {
    grid-area: friends-container;
    position: relative;
    max-width: 400px;
    min-width: 350px;
}

.friends-rectangle {
    width: 100%;
    height: 58px;
    margin: 0 0 12px;
    padding: 19px 18px 0 151px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #d9d9d9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    z-index: 2;
}

.friends-rectangle-bottom {
    display: inline-block;
    width: 100%;
    height: 798px;
    margin: 55px 15px 15px 0;
    padding: 0 0 20px;
    border-radius: 10px;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px rgba(255, 255, 255, 0.05);
    background-color: #414141;
    margin: -46px 15px 15px 0;
    z-index: 1;
}

.container-title {
    font-size: 20px;
    font-weight: bold;
    color: #292929;
    top: 20px;
    left: 43px;
    position: absolute;
    z-index: 3;
    letter-spacing: -0.2px;
}

.friend {
    margin-top: 76px;
    /* margin-left: 43px; */
    text-align: left;
    font-size: 20px;
    color: white;
    position: absolute;
    z-index: 3;
}

#friend-status {
    display: inline-block;
    margin-top: 76px;
    font-size: 20px;
    left: calc(35% + 10px);
    color: rgba(49, 255, 156, 0.85);
    position: absolute;
    z-index: 3;
}

.wrap-friend-elements {
    position: relative;
    margin-left: 43px;
}

.user-profile-wrap {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 0px 15px;
    grid-template-areas: 
        "profile-container profile-container friends-container"
        "match-history-container match-history-container friends-container"
        "stats-container stats-container friends-container";
    width: 83.4%;
    translate: 14%; /* On so many levels I consider this dodgy */
}

.bx--edit {
    top: 2%;
    left: 87%;
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m7 17.013l4.413-.015l9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583zM18.045 4.458l1.589 1.583l-1.597 1.582l-1.586-1.585zM9 13.417l6.03-5.973l1.586 1.586l-6.029 5.971L9 15.006z'/%3E%3Cpath fill='black' d='M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01c-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2'/%3E%3C/svg%3E");
    transition: background-image 0.1s ease-in;
}

.bx--edit:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%239c9c9c' d='m7 17.013l4.413-.015l9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583zM18.045 4.458l1.589 1.583l-1.597 1.582l-1.586-1.585zM9 13.417l6.03-5.973l1.586 1.586l-6.029 5.971L9 15.006z'/%3E%3Cpath fill='%239c9c9c' d='M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01c-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2'/%3E%3C/svg%3E");
  }

/* ================================================================ */
/* ================ Profile Settings CSS ========================== */
/* ================================================================ */

/* .settings-body-container {
    grid-area: settings-container;
    position: relative;
    max-width: 889px;
    min-width: 450px;
} */

.settings-container {
    position: relative;
    max-width: 889px;
    min-width: 450px;
    margin: auto;
}

.settings-header {
    width: 100%;
    height: 58px;
    margin: 0 0 12px;
    padding: 19px 18px 0 151px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #d9d9d9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    z-index: 2;
}

.settings-body {
    width: 100%;
    height: 774px;
    margin: 55px 15px 15px 0;
    padding: 0 0 20px;
    border-radius: 10px;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px rgba(255, 255, 255, 0.05);
    background-color: #cacaca;
    margin: -46px 15px 15px 0;
    z-index: 1;
}

.settings-form {
    z-index: 2;
    position: relative;
    margin-top: 70px;
    margin-left: 40px;
    /* Grid details here */
}

.settings-input-container label {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

.settings-input {
    width: 512px;
    height: 47px;
    background-color: transparent;
    border: solid 1px black;
    border-radius: 10px;
}

.settings-input-container input {
    font-size: 16px;
    color: black;
    margin-bottom: 34px;
    padding-left: 15px;
}

.settings-btn {
    width: 287px;
    height: 53px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    background-color: #d9d9d9;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 10px;
    margin-top: 20px;
    transition: background-color 0.3s ease-in;
}

.settings-btn:hover {
    background-color: #b0bbce;
    cursor: pointer;
}

.settings-cancel {
    float: right;
    margin-right: 43px;
}

.settings-profile-pic {
    width: 197px;
    height: 197px;
    border-radius: 50%;
    background-color: rgb(167, 167, 167);
    border: 1px solid black;
    z-index: 5;
}

.settings-profile-container {
    position: absolute;
    top:0;
    right: 0;
    margin-right: 60px;
    width: 200px;
    height: 80%;
    /* background-color: lightblue; */
    z-index: 4;
}

.settings-profile-container label {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    margin-bottom: 10px;
}

#img-upload {
    display: block;
    margin-top: 10px;
}

/* ================================================================ */
/* ====================== Friends List Page ======================= */
/* ================================================================ */

.frlst-container {
    position: relative;
    max-width: 889px;
    min-width: 450px;
    margin: auto;
}

.frlst-header {
    width: 100%;
    height: 58px;
    margin: 0 0 12px;
    padding: 19px 18px 0 151px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #d9d9d9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    z-index: 2;
}

.frlst-body {
    width: 100%;
    height: 774px;
    margin: 55px 15px 15px 0;
    padding: 0 0 20px;
    border-radius: 10px;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px rgba(255, 255, 255, 0.05);
    background-color: #cacaca;
    margin: -46px 15px 15px 0;
    z-index: 1;
}


.frlst-friend {
    /* margin-top: 76px; */
    text-align: left;
    font-size: 20px;
    color: black;
    z-index: 3;
}

#frlst-status {
    /* margin-top: 76px; */
    margin-left: 20px;
    font-size: 20px;
    color: rgba(0, 156, 81, 0.85);
    position: relative;
}

.frlst-pic {
    margin-right: 20px;
    /* margin-top: 76px; */
    border-radius: 50%;
    background-color: grey;
    width: 50px;
    height: 50px;
    position: relative;
}

.frlst-btn {
    text-align: center;
    line-height: 40px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    position: absolute;    
    background-color: rgb(163, 144, 144);
    font-weight: 600;
    color: rgb(17, 15, 15);
}

.block-btn {
    right: 20px;
}

.remove-btn {
    right: 130px;
}

.frlst-btn:hover {
    background-color: rgb(143, 113, 113);
    cursor: pointer;
}

.wrap-frlst {
    width: 100%;
    margin-top: 60px;
    margin-left: 43px;
}

.frlst-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.frlst-scroll {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* ================================================================ */
/* ====================== Tournament CSS ========================== */
/* ================================================================ */

.tn-title {
    margin-top: 30px;
    text-align: center;
    padding-right: 44px;
}

.tn-player-rectangle-1 {
    font-size: 20px;
    display: inline-block;
    width: 250px;
    height: 65px;
    color: black;
    background-color: #eef7ff;
    border-radius: 10px;
    margin-right: 5%;
    line-height: 65px;
    text-align: center;
    z-index: 0;
}

/* .tn-centre-wrap {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */

.tn-wrap {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.tn-wrap-1 {
    margin-top: 4%;
}

.tn-wrap-2 {
    margin-top: 5.4%;
}

.tn-line-wrap-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.tn-line-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.tn-line-top {
    width: 54px;
    height: 5px;
    background-color: #eef7ff;
    position: absolute;
    margin-top: 30px;
    z-index: 1;
}

.tn-line-1 {
    left: calc(250px + 15%); /* or margin-left?*/
}

.tn-line-2 {
    left: calc(650px + 29.5%);
}

.tn-player-rectangle-2 {
    font-size: 20px;
    display: inline-block;
    width: 419px;
    height: 109px;
    color: black;
    background-color: #eef7ff;
    border-radius: 10px;
    margin-right: 5%;
    margin-top: 80px;
    line-height: 109px;
    text-align: center;
    z-index: 0;
}

.tn-line-centre {
    position: absolute;
    z-index: 1;
    background-color: #eef7ff;
}

.tn-line-3 {
    width: 5px;
    height: 100px;
    left: 292px;
}

.tn-line-3-1 {
    width: 87px;
    height: 5px;
    margin-left: 210px;
    margin-top: 100px;
}

.tn-line-3-2 {
    width: 5px;
    height: 52px;
    margin-left: 210px;
    margin-top: 100px;
}

.tn-line-4 {
    width: 5px;
    height: 100px;
    right: 375px;
}

.tn-line-4-1 {
    width: 87px;
    height: 5px;
    right: 293px;
    margin-top: 100px;
}

.tn-line-4-2 {
    width: 5px;
    height: 52px;
    right: 293px;
    margin-top: 100px
}

.join-game {
    width: 397px;
    height: 71px;
    line-height: 71px;
    text-align: center;
    font-size: 20px;
    background-color: #0077e5;
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    transition: background-color 0.2s ease-out;
}

.join-game:hover {
    background-color: #1c47a5;
    cursor: pointer;
    box-shadow: inset 2px 2px 5px #1f0b77,
                inset -2px -2px 5px #1f0b77;
}

/* ============================================================= */
/*===================== Pop-up Chat CSS ======================== */
/* ============================================================= */

.open-btn {
    position: fixed;
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    bottom: 20px;
    width: 350px;
    height: 50px;
    right: 20px;
    cursor: pointer;
    color: white;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    z-index: 4;
    border: none;
}

.chat-popup {
    position: fixed;
    z-index: 5;
    width: 360px;
    bottom: 20px;
    right: 20px;
    display: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 400px;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
}

.chat-scroll-section {
    height: 353px;
    overflow-y: scroll;
}

.chat-window-head {
    display: flex;
    justify-content: space-between;
    background-color: rgb(44, 44, 44);
    padding: 16px 14px;
    border-radius: 10px 10px 0px 0px;
}

.chat-window-head h4 {
    color: white;
    font-weight: 500;
}

.close-btn {
    color: white;
    cursor: pointer;
}

.msg-container {
    padding: 12px 10px;
    height: 300px;
    /* margin: 10px 0; */
}

.msg {
    margin-bottom: 5px;
    padding: 10px 16px;
    border-radius: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.msg p {
    word-wrap: break-word;
    margin: 0;
    font-size: 12px;
    line-height: 1.5em;
}

.other-msg {
    background-color: rgb(64, 124, 46);
}

.our-msg {
    background-color: rgb(46, 118, 160);
    float: right;
}

.server-msg {
    background-color: rgb(155, 44, 63);
}

.msg span {
    font-size: 10px;
    color: grey;
}

.chat-box-container {
    display: flex;
    height: 46px;
    margin-bottom: 16px;
    padding: 0px 14px;
}

.chat-box {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    width: 97%;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(59, 59, 59);
    border: 4px solid rgb(46, 46, 46);
}

.form-container input {
    width: 100%;
    padding: 4px;
    height: 46px;
    padding-left: 16px;
    border: none;
    background: none;
    border-radius: 4px;
    color: white;
}

.form-container input:focus {
    outline: none;
}

.send-btn, .btn {
    width: 60px;
    background-color: rgb(226, 226, 226);
    color: white;
    justify-content: center;
    line-height: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: all 300ms;
}

.btn:hover,
.open-btn:hover {
    opacity: 0.7;
}

.material-symbols--send-outline {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M3 20V4l19 8zm2-3l11.85-5L5 7v3.5l6 1.5l-6 1.5zm0 0V7z'/%3E%3C/svg%3E");
}

.mdi--close-outline {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M3 16.74L7.76 12L3 7.26L7.26 3L12 7.76L16.74 3L21 7.26L16.24 12L21 16.74L16.74 21L12 16.24L7.26 21zm9-3.33l4.74 4.75l1.42-1.42L13.41 12l4.75-4.74l-1.42-1.42L12 10.59L7.26 5.84L5.84 7.26L10.59 12l-4.75 4.74l1.42 1.42z'/%3E%3C/svg%3E");
  }