<div class="frlst-container">
    <div class="frlst-header"></div>
    <div class="container-title">Friends List</div>
    <div class="frlst-body">

        <div class="frlst-scroll">

            <div class="wrap-frlst">
                <div class="frlst-item">
                    <!-- Friend's profile picture  -->
                    <div class="frlst-pic"></div>
                    <!-- Friend's name -->
                    <div class="frlst-friend">kaseypsbrice</div>
                    <!-- Friend's status -->
                    <div id="frlst-status">&#x2022 Online</div>
                    <!-- Remove and block buttons -->
                    <div class="frlst-btn remove-btn">Remove</div>
                    <div class="frlst-btn block-btn">Block</div>
                </div>
            </div>

        </div>

    </div>
</div>