
<div class="home-wrapper">
    <h1>Welcome to MightyPong!</h1>

    <p>This website has been created for the final project at 42 Adelaide, ft_transcendence.<br>
        It’s a full-stack single page application made with HTML, CSS, JavaScript, and Ruby.<br><br>
        Here’s a full list of the modules that have been completed:</p>

    <div class="table-container">
        <div class="table-rectangle">Backend Database</div>
        <div class="table-rectangle-right">
            All database instances within the project use PostgreSQL.
        </div>
    </div>
    <div class="table-container">
        <div class="table-rectangle">Standard User Management</div>
        <div class="table-rectangle-right">
            Secure registration and login, with access to a user profile.
        </div>
    </div>
    <div class="table-container">
        <div class="table-rectangle">Remote Players</div>
        <div class="table-rectangle-right">
            It is possible to have two distant players on separate computers.
        </div>
    </div>
    <div class="table-container">
        <div class="table-rectangle">Another Game</div>
        <div class="table-rectangle-right">
            Developed a new game to diversify the platform's offerings.
        </div>
    </div>
    <div class="table-container">
        <div class="table-rectangle">Game Customisation Options</div>
        <div class="table-rectangle-right">
            Offer customisation features to enhance the gameplay experience.
        </div>
    </div>
    <div class="table-container">
        <div class="table-rectangle">Gameplay via CLI</div>
        <div class="table-rectangle-right">
            Created a robust CLI that connects to the web application.
        </div>
    </div>
    <div class="table-container">
        <div class="table-rectangle">Server-Side Pong</div>
        <div class="table-rectangle-right">
            Developed server-side logic for the Pong game + implemented an API.
        </div>
    </div>
    <div class="table-container-bottom">
        <div class="table-rectangle">Live Chat</div>
        <div class="table-rectangle-right">
            Able to interact with other users and send direct messages.
        </div>
    </div>
</div>

<!-- Not entirely happy with this, but it'll do for now. -->