<div class="signup-login-form">
    <form action="" class="form">
        <h1 class="form-title">Login</h1>
        <p class="form-description">Enter your details to register a new account.</p>

        <div class="input-container">
            <span class="bx--user"></span>
            <input type="text" id="username" class="input" placeholder="Username or Email">
        </div>

        <div class="input-container">
            <span class="mdi--password-outline"></span>
            <input type="password" id="password" class="input" placeholder="Password">
        </div>

        <input type="submit" onclick="submitForm(event)" class="signup-button" value="Login">
        <div class="divider"></div>
        <div class="prompt">Don't have an account yet? <a href="#signup">Sign Up</a></div>
        <!-- If you want to show the error box, all you have to do is set display: flex; for the styling in the error div -->
        <!-- If you want to hide the error box, set display: none; -->
        <div class="error">Error: Wrong username or password.</div>
    </form>
</div>