<div class="user-profile-wrap">
    <div class="profile-container">
        <div class="profile-picture">
			<img data-display-name="" id="profile-picture"></img>
		</div>
        <!-- User's display name -->
        <div id="profile-display-name" data-display-name="" class="profile-display-name">Kasey Brice</div> 
        <!-- User's username -->
        <div id="profile-username" class="profile-username">kbrice</div>
        <!-- User's online or offline status -->
        <!-- &#x2022 is a dot point in html -->
        <div id="profile-status">&#x2022 Online</div>
        <!-- Profile buttons -->
        <div id="pf-add-friend" class="profile-button pf-add-friend">Add Friend</div>
        <div id="pf-block" class="profile-button pf-block">Block</div>
        <!--------------------------------------------->
        <a href="#profileSettings"><span id="profile-settings-button" class="ic--round-settings"></span></a>
        <div class="profile-rectangle"></div>
        <div class="profile-rectangle-bottom"></div>
    </div>

    <div class="match-history-container">
        <div class="mh-tb-header">
            <div class="container-title">Match History</div>
            <div class="hd-txt hd-date">Date</div>
            <div class="hd-txt hd-match-type">Match Type</div>
            <div class="hd-txt hd-opponent">Opponent</div>
            <div class="hd-txt hd-winner">Winner</div>
        </div>
        <!-- The match history data will be inserted here dynamically
            by the profile.js file. -->
        <div class="mh-rectangle"></div>
        <div class="mh-rectangle-bottom">
            <div class="scrollable-mh-data"></div>
        </div>
        <div class="mh-extend"><span class="solar--double-alt-arrow-down-linear"></span></div>
    </div>

    <div class="stats-container">
        <div class="stats-tb-header">
            <div class="container-title">Statistics</div>
            <div class="hd-txt hd-date stats">Game</div>
            <div class="hd-txt hd-match-type stats">Wins</div>
            <div class="hd-txt hd-opponent stats">Losses</div>
            <div class="hd-txt hd-winner stats">Tournament Wins</div>
        </div>
            <!-- Data for stats -->
        <div class="data-stats-pong-container">
            <div id="data-stats-tb-date">Pong</div>
            <div id="data-stats-tb-wins"></div>
            <div id="data-stats-tb-losses"></div>
            <div id="data-stats-tb-tn-wins"></div>
        </div>

        <div class="data-stats-snake-container">
            <div id="data-stats-tb-date">Snake</div>
            <div id="data-stats-tb-wins"></div>
            <div id="data-stats-tb-losses"></div>
            <div id="data-stats-tb-tn-wins"></div>
        </div>

        <div class="stats-rectangle"></div>
        <div class="stats-rectangle-bottom"></div>
    </div>

    <div class="friends-container">
        <div class="container-title">Friends List</div>

        <div class="pf-friends-scroll">
                <div id="pf-friends" class="pf-friends">
				<!-- Insert friends here -->
                </div>
        </div>

        <div class="friends-rectangle"></div>
        <div class="friends-rectangle-bottom"></div>
    </div>

</div>