<div class="settings-container">
    <div class="settings-header"></div>
    <div class="container-title">Account Settings</div>
    <div class="settings-body">

        <form action="" class="settings-form">

            <div class="settings-input-container">
                <label for="settings-input">Display Name</label>
                <!-- Replace the placeholder with the user's display name -->
                <!-- Remove example for testing -->
                <input type="text" id="settings-display-name" class="settings-input" placeholder="Kasey Brice">
            </div>
    
            <div class="settings-input">
                <label for="settings-username">Username</label>
                <input type="text" id="settings-username" class="settings-input" placeholder="Kasey Brice">
            </div>
    
            <div class="settings-input-container">
                <label for="settings-input">Current Password</label>
                <input type="password" id="password" class="settings-input" placeholder="">
            </div>
    
            <div class="settings-input-container">
                <label for="settings-input">New Password</label>
                <input type="password" id="password" class="settings-input" placeholder="">
            </div>
    
            <div class="settings-input-container">
                <label for="settings-input">Confirm Password</label>
                <input type="password" id="password" class="settings-input" placeholder="">
            </div>
    
            <input type="submit" onclick="" class="save-settings-btn" value="Save Settings">
            <input type="submit" onclick="" class="settings-cancel-btn" value="Cancel">
        
        </form>

    </div>
</div>