<div class="profile-container">
    <div class="profile-picture"></div>
    <!-- User's display name -->
    <div class="profile-display-name">Kasey Brice</div>
    <!-- User's username -->
    <div class="profile-username">kbrice</div>
    <!-- User's online or offline status -->
    <!-- &#x2022 is a dot point in html -->
    <div id="profile-status">&#x2022 Online</div>
    <span class="ic--round-settings"></span>
    <div class="profile-rectangle"></div>
    <div class="profile-rectangle-bottom"></div>
</div>

<div class="match-history-container">
    <div class="mh-tb-header">
        <div class="mh-title">Match History</div>
        <div class="mh-hd-txt mh-hd-date">Date</div>
        <div class="mh-hd-txt mh-hd-match-type">Match Type</div>
        <div class="mh-hd-txt mh-hd-opponent">Opponent</div>
        <div class="mh-hd-txt mh-hd-winner">Winner</div>
    </div>
    <!-- [!] ATTENTION -->
    <!-- The match history data will be inserted here dynamically
        by the profile.js file. -->
    <div class="mh-rectangle"></div>
    <div class="mh-rectangle-bottom"></div>
</div>