<div class="settings-container">
    <div class="settings-header"></div>
    <div class="container-title">Account Settings</div>
    <div class="settings-body">

        <form action="" class="settings-form">

            <div class="settings-input-container">
                <label for="settings-input">Display Name</label>
                <!-- Replace the placeholder with the user's display name -->
                <!-- Remove example for testing -->
                <!-- To edit the values of the input containers, the text that you see already in the boxes, here's how in JS:
                    var container = document.getElementById('settings-container-id') // replace with settings-username or settings-display-name;
                    var inputValue = container.querySelector('input').value; -->
                <!-- Set them to the user's display name and username respectively. -->
                <input type="text" id="settings-display-name" class="settings-input" placeholder="" value="Kasey Brice">
            </div>
    
            <div class="settings-input-container">
                <label for="settings-username">Username</label>
                <input type="text" id="settings-username" class="settings-input" placeholder="" value="kaseypsbrice">
            </div>
    
            <div class="settings-input-container">
                <label for="settings-input">Current Password</label>
                <input type="password" id="settings-password" class="settings-input" placeholder="">
            </div>
    
            <div class="settings-input-container">
                <label for="settings-input">New Password</label>
                <input type="password" id="settings-new-password" class="settings-input" placeholder="">
            </div>
    
            <div class="settings-input-container">
                <label for="settings-input">Confirm Password</label>
                <input type="password" id="settings-new-password-confirm" class="settings-input" placeholder="">
            </div>
    
            <input type="submit" onclick="submitProfileSettings()" class="settings-btn" value="Save Settings">
            <input type="submit" onclick="" class="settings-btn settings-cancel" value="Cancel">

            <div class="settings-profile-container">
                <label for="settings-profile-container">Profile Picture</label>
                <div class="settings-profile-pic"></div>
                <input type="file" id="img-upload" name="img">
            </div>
        </form>

    </div>
</div>