<div class="signup-login-form">
    <form action="" class="form">
        <h1 class="form-title">Sign Up</h1>
        <p class="form-description">Enter your details to register a new account.</p>

        <div class="input-container">
            <span class="bx--user"></span>
            <input type="text" id="display_name" class="input" placeholder="Display Name">
        </div>

        <div class="input-container">
            <span class="bx--user"></span>
            <input type="text" id="username" class="input" placeholder="Username">
        </div>

        <div class="input-container">
            <span class="mdi--password-outline"></span>
            <input type="password" id="password" class="input" placeholder="Password">
        </div>

        <div class="input-container">
            <span class="mdi--password-outline"></span>
            <input type="password" id="password_confirm" class="input" placeholder="Confirm Password">
        </div>

        <input type="submit" onclick="submitForm(event)" class="signup-button" value="Create Account">
        <div class="divider"></div>
        <div class="prompt">Already have an account? <a href="#login">Login</a></div>
        <!-- If you want to show the error box, all you have to do is set display: flex; for the styling in the error div -->
        <!-- If you want to hide the error box, set display: none; -->
        <div class="error">Error: Display Name already taken.</div>
        <div class="error">Error: Username already taken.</div>
        <div class="error">Error: Password is too short, must be 10+ characters.</div>
        <div class="error">Error: Failed to confirm password.</div>
    </form>
</div>