<div class="signup-login-form">
    <form action="" class="form">
        <h1 class="form-title">Sign Up</h1>
        <p class="form-description">Enter your details to register a new account.</p>

        <div class="input-container">
            <span class="bx--user"></span>
            <input type="text" id="display_name" class="input" placeholder="Display Name">
        </div>

        <div class="input-container">
            <span class="bx--user"></span>
            <input type="text" id="username" class="input" placeholder="Username">
        </div>

        <div class="input-container">
            <span class="mdi--password-outline"></span>
            <input type="password" id="password" class="input" placeholder="Password">
        </div>

        <div class="input-container">
            <span class="mdi--password-outline"></span>
            <input type="password" id="password_confirm" class="input" placeholder="Confirm Password">
        </div>

        <input type="submit" onclick="submitForm(event)" class="signup-button" value="Create Account">
        <div class="divider"></div>
        <div class="prompt">Already have an account? <a href="#login">Login</a></div>
        <div id="register-error" class="error">Error: Display Name already taken.</div>
    </form>
</div>