<h1 class="tn-title" id="tn-title">PONG TOURNAMENT</h1>

<div class="tn-wrap tn-wrap-1">
    <div class="tn-player-rectangle-1">
        <div class="tn-player-pic small"></div>
        <div id="tn-player-1">Player 1</div>
    </div>
    <div class="tn-line-top tn-line-1"></div>
    <div class="tn-player-rectangle-1">
            <div class="tn-player-pic small"></div>
        <div id="tn-player-2">Player 2</div>
    </div>
    <div class="tn-player-rectangle-1">
            <div class="tn-player-pic small"></div>
        <div id="tn-player-3">Player 3</div>
    </div>
    <div class="tn-line-top tn-line-2"></div>
    <div class="tn-player-rectangle-1">
            <div class="tn-player-pic small"></div>
        <div id="tn-player-4">Player 4</div>
    </div>
</div>

<div class="tn-line-wrap-container">
    <div class="tn-line-wrap">
        <div class="tn-line-centre tn-line-3"></div>
        <div class="tn-line-centre tn-line-3-1"></div>
        <div class="tn-line-centre tn-line-3-2"></div>

        <div class="tn-line-centre tn-line-4"></div>
        <div class="tn-line-centre tn-line-4-1"></div>
        <div class="tn-line-centre tn-line-4-2"></div>
    </div>
</div>

<div class="tn-wrap tn-wrap-2">
    <div class="tn-player-rectangle-2">
        <div class="tn-player-pic big"></div>
        <div id="tn-player-5"></div>
    </div>
    <div class="tn-player-rectangle-2">
        <div class="tn-player-pic big"></div>
        <div id="tn-player-6"></div>
    </div>
</div>

<div class="tn-centre-wrap">
    <button id="tn-join-game" onclick="joinGame()" class="join-game">Join Game</button>
</div>